<!DOCTYPE html>
<html>

<head>
    <title>SaaSify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="main-container">
        <div class="login-container">
            <h2>SaaSify</h2>
            <form method="POST" action="/login">
                <input name="email" placeholder="Email" required><br>
                <input class="spacing" name="password" type="password" placeholder="Password" required><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</body>

</html>